<div class="parallax bg1">
    <h1>1</h1>
</div>
<div class="parallax bg2">
    <h1>2</h1>
</div>
<div class="parallax bg3">
    <h1>3</h1>
</div>
<div class="parallax bg4">
    <h1>4</h1>
</div>
<div class="parallax bg5">
    <h1>5</h1>
</div>
<div class="parallax bg6">
    <h1>6</h1>
</div>
<div class="parallax bg7">
    <h1>7</h1>
</div>
<div class="parallax bg8">
    <h1>8</h1>
</div>