<h3>Hello, welcome to my website!
Afrikaans: Hallo, welkom op my webwerf!
Albanian: Përshëndetje, mirëseardhje në faqen time!
Arabic: مرحبا، مرحبا بكم في موقعي!
Azerbaijani: Salam, veb saytına xoş gəldiniz!
Belarusian: Добры дзень, запрашаем на мой сайт!
Bulgarian: Здравейте, добре дошли на моя уебсайт!
Bengali: হ্যালো, আমার ওয়েবসাইটে আপনাকে স্বাগতম!
Bosnian: Pozdrav, dobrodošli na moju web stranicu!
Catalan: Hola, benvinguts al meu lloc web!
Cebuano: Kumusta, maayong pag-abiabi sa akong website!
Chinese: 您好，欢迎来到我的网站！
Chinese (Simplified): 您好，欢迎来到我的网站！
Chinese (Traditional): 您好，歡迎來到我的網站！
Czech: Dobrý den, vítejte na mých webových stránkách!
Danish: Hej, velkommen til min hjemmeside!
German: Hallo, willkommen auf meiner Website!
Greek: Γεια σας, καλώς ήλθατε στον ιστότοπό μου!
English: Hello, welcome to my website!
Esperanto: Hello, welcome to my website!
Spanish: ¡Hola, bienvenidos a mi sitio web!
Estonian: Tere, Tere tulemast minu kodulehele!
Basque: Kaixo, ongi etorri nire webgunera!
Persian: سلام ، به وب سایت من خوش آمدید!
Finnish: Hei, tervetuloa verkkosivuilleni!
French: Bonjour, bienvenue sur mon site!
Irish: Dia duit, fáilte go dtí mo shuíomh Gréasáin!
Galician: Ola, benvido á miña páxina web!
Gujarati: હેલો, મારી વેબસાઇટ પર આપનું સ્વાગત છે!
Hausa: Barka dai, barka da zuwa shafin yanar gizan mu!
Hindi: नमस्कार, मेरी वेबसाइट पर आपका स्वागत है!
Hmong: Hello, welcome to my website!
Croatian: Pozdrav, dobrodošli na moju web stranicu!
Haitian Creole: Bonjou, Byenveni nan sit entènèt mwen an!
Hungarian: Üdvözlet, üdvözlöm honlapomon!
Armenian: Ողջույն, բարի գալուստ իմ կայք:
Indonesian: Halo, selamat datang di situs web saya!
Igbo: Ndewo, ndewo na ebe nrụọrụ weebụ m!
Icelandic: Halló, velkomin á heimasíðuna mína!
Italian: Ciao, benvenuto nel mio sito Web!
Hebrew: שלום, ברוך הבא לאתר שלי!
Japanese: こんにちは、私のウェブサイトへようこそ！
Javanese: Halo, Sugeng rawuh ing situs webku!
Georgian: გამარჯობა, მოგესალმებით ჩემს ვებგვერდზე!
Kazakh: Сәлеметсіз бе, менің веб-сайтыңызға қош келдіңіз!
Khmer: សួស្តីសូមស្វាគមន៍ចំពោះគេហទំព័ររបស់ខ្ញុំ។
Kannada: ಹಲೋ, ನನ್ನ ವೆಬ್‌ಸೈಟ್‌ಗೆ ಸ್ವಾಗತ!
Korean: 안녕하세요, 내 웹 사이트에 오신 것을 환영합니다!
Latin: Ciao, benvenuto nel mio sito Web!
Lao: ສະບາຍດີ, ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ເວບໄຊທ໌ຂອງຂ້ອຍ!
Lithuanian: Sveiki, sveiki atvykę į mano svetainę!
Latvian: Sveiki, laipni lūdzam manā vietnē!
Malagasy: Salama, tongasoa tompoko!
Maori: Kia ora, Tena koutou ki toku paetukutuku!
Macedonian: Здраво, добредојде на мојата веб-страница!
Malayalam: ഹലോ, എന്റെ വെബ്‌സൈറ്റിലേക്ക് സ്വാഗതം!
Mongolian: Сайн байна уу, миний вэбсайтад тавтай морилно уу!
Marathi: नमस्कार, माझ्या वेबसाइटवर आपले स्वागत आहे!
Malay: Helo, selamat datang di laman web saya!
Maltese: Hello, merħba fil-websajt tiegħi!
Myanmar (Burmese): မင်္ဂလာပါ၊ ကျွန်ုပ်၏ဝက်ဘ်ဆိုက်ကိုကြိုဆိုပါသည်။
Nepali: नमस्कार, मेरो वेबसाइटमा स्वागत छ!
Dutch: Hallo, welkom op mijn website!
Norwegian: Hei, velkommen til hjemmesiden min!
Chichewa: Moni, mwalandiridwa patsamba langa!
Punjabi: ਹੈਲੋ, ਮੇਰੀ ਵੈਬਸਾਈਟ ਤੇ ਤੁਹਾਡਾ ਸਵਾਗਤ ਹੈ!
Polish: Witam, witam na mojej stronie!
Portuguese: Olá, bem-vindo ao meu site!
Romanian: Buna ziua, bine ai venit pe site-ul meu web!
Russian: Здравствуйте, добро пожаловать на мой сайт!
Sinhala: හෙලෝ, මගේ වෙබ් අඩවියට සාදරයෙන් පිළිගනිමු!
Slovak: Dobrý deň, vitajte na mojej webovej stránke!
Slovenian: Pozdravljeni, dobrodošli na moji spletni strani!
Somali: Salaan, ku soo dhawaaw websaydhkayga!
Serbian: Поздрав, добродошли на моју веб страницу!
Sesotho: Lumela, Welcome to webosaete ea ka!
Sundanese: Halo, wilujeng sumping ka situs web kuring!
Swedish: Hej, välkommen till min webbplats!
Swahili: Halo, karibu kwenye tovuti yangu!
Tamil: வணக்கம், எனது வலைத்தளத்திற்கு வருக!
Telugu: హలో, నా వెబ్‌సైట్‌కు స్వాగతం!
Tajik: Салом, ба вебсайтам хуш омадед!
Thai: สวัสดียินดีต้อนรับสู่เว็บไซต์ของฉัน!
Filipino: Kumusta, maligayang pagdating sa aking website!
Turkish: Merhaba, web siteme hoşgeldiniz!
Ukrainian: Привіт, ласкаво просимо на мій веб-сайт!
Urdu: ہیلو ، میری ویب سائٹ میں خوش آمدید!
Uzbek: Assalomu alaykum, veb-saytimga xush kelibsiz!
Vietnamese: Xin chào, chào mừng đến với trang web của tôi!
Welsh: Helo, croeso i fy ngwefan!
Yiddish: העלא, באַגריסונג צו מיין וועבזייטל!
Yoruba: Mo kaabo, kaabọ si oju opo wẹẹbu mi!
Zulu: Sawubona, wamukelekile kuwebhusayithi yami!</h3>
