<h1>Labs</h1>
<ul id="labs">
    <a href="pets">
       <li>Pets - WIP</li>
    </a>
    <a href="numbers">
       <li>Numbers - WIP</li>
    </a>
    <a href="weather">
       <li>Weather</li>
    </a>
    <a href="madlibsForm">
       <li>Mad Libs</li>
       </a>
    <a href="votingForm">
       <li>Survey</li>
    </a>
     <a href="map">
       <li>Map Game</li>
    </a>
</ul>