</div>
<h2>Mad Libs</h2>
<form action="madlibs" method = "get" autocomplete="on">
    <strong>Enter the following: </strong><br>
    <br>
    <input type = "text" name = "number" placeholder="Number" required autofocus>
    <br><br>
    <input type = "text" name = "body" placeholder="Body Part"required>
    <br><br>
    <input type = "text" name = "place" placeholder="Place"required>
    <br><br>
    <input type = "text" name = "noun" placeholder="Noun" required>
    <br><br>
    <input type = "text" name = "occupation" placeholder="Occupation" required>
    <br><br>
    <input type = "text" name = "noun2" placeholder="Noun" required>
    <br><br>
    <input type = "text" name = "verbing" placeholder="Verb ending in -ing" required>
    <br><br>
    <input type = "text" name = "noun3" placeholder="Noun" required>
    <br><br>
    <input type = "text" name = "lastName" placeholder="Last Name" required>
    <br><br>
    <input type = "text" name = "plural" placeholder="Plural Noun" required>
    <br><br>
    <input type = "text" name = "noun4" placeholder="Noun" required>
    <br><br>
    <input type = "text" name = "adj" placeholder="Adjective" required>
    <br>
    <!--Did you fill out everything?<br>
        <input type="radio" id="yes" name="required" value="yes">
        <label for="yes">Yes</label><br>-->
    <button type = "submit-button">Submit</button>
    <input type="reset">
</form>