</div>
<h2>Mad Libs</h2>
<form action="madlibs" method="get" autocomplete="on">
      <div class="form-group">
    <strong>Enter the following: </strong><br>
    <br>
    <input class="form-control" type="text" name="number" placeholder="Number" required autofocus>
    <input class="form-control"type="text" name="noun" placeholder="Noun" required>
    <input class="form-control"type="text" name="body" placeholder="Body Part" required>
    <input class="form-control"type="text" name="place" placeholder="Place" required>
    <input class="form-control"type="text" name="occupation" placeholder="Occupation" required>
    <input class="form-control"type="text" name="noun2" placeholder="Noun" required>
    <input class="form-control"type="text" name="verbing" placeholder="Verb ending in -ing" required>
    <input class="form-control"type="text" name="noun3" placeholder="Noun" required>
    <input class="form-control"type="text" name="lastName" placeholder="Last Name" required>
    <input class="form-control"type="text" name="plural" placeholder="Plural Noun" required>
    <input class="form-control"type="text" name="noun4" placeholder="Noun" required>
    <input class="form-control"type="text" name="adj" placeholder="Adjective" required>
    <button type="submit-button">Submit</button>
    <input type="reset">
    </div>
</form>