<h2>Poll</h2>
<p>Pineapple belongs on Pizza</p>
<div>
    <div class="form-group">
        <button id='option1' class=''>
        Agree </button>
    </div>
    <div class="form-group">
        <button id='option2' class=''>
        Disagree </button>
    </div>
    <div class="form-group">
        <button id='option3' class=''>
        Neutral </button>
    </div>
    <button type="submit" id='submit' class="btn btn-custom-secondary hvr-grow">Submit</button>
</div>