<h2>Weather Forecast</h2>
<form action="getweather" method = "get">
    Lattitude: <br>
    <input type = "text" name = "lat" required>
    <br>
    Longitude <br>
    <input type = "text" name = "long" required>
    <br>
    <button type = "submit-button">Submit</button>
    <input type="reset">
</form>