body {
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.container{
  margin:0;
  padding: 0;
}
.parallax {
    height: 100vh;
    width:  100vw;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: table;
}

.bg1{
    background-image: url('../images/homepage/one.gif');
}

.bg2{
    background-image: url('../images/homepage/two.gif');
}

.bg3{
    background-image: url('../images/homepage/three.gif');
}

.bg4{
    background-image: url('../images/homepage/four.gif');
}

.bg5{
    background-image: url('../images/homepage/five.gif');
}

.bg6{
    background-image: url('../images/homepage/six.gif');
}

.bg7{
    background-image: url('../images/homepage/seven.gif');
}

.bg8{
    background-image: url('../images/homepage/eight.gif');
}

h1{
    margin: 0px;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}