#map path:hover {
    fill: #FF0123;
    transition: 0.25s ease-in-out;

}

#map path {
    fill: #000000;
}

#map path.disabled:hover {
    fill: #000000
}

#info-box{
    color: #FFFFFF;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999999999;
    background-color: #990000;
    border: 4px solid #250d3a;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}